1. Колво городов
2. Колво рыбных ресторанов
3. Колво колонок в таблице с типом float64
4. Колво дней в которые у ресторана с id 40065 было меньше 20 успешных заказов

4,18,2,45

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('orders.csv')
df.head()

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0
2,2019-09-25,35430,26220,25,Пицца,2.0,0.0
3,2019-09-21,56553,38601,23,Шашлыки,1.0,0.0
4,2019-09-21,43919,30984,25,Суши,6.0,0.0

In [6]:
cities = df['city_id'].unique()
cities

array([23, 25, 26, 24], dtype=int64)

In [17]:
cities.size

4

In [16]:
restrs = df[df.spec == 'Рыба'].vendor_id.nunique()
restrs

18

In [29]:
df[df.dtypes == float64]

date                  object
vendor_id              int64
chain_id               int64
city_id                int64
spec                  object
successful_orders    float64
fail_orders          float64
dtype: object

In [14]:
df[(df.vendor_id == 40065) & (df.successful_orders < 20)].shape[0]

45